<h1>This component is going to have some children</h1>

<app-child
  [name]="childInput"
  [nameSignal]="childInput"
  (oldOutput)="handleOldOutput($event)"
  (newOutput)="handleNewOutput($event)"
  [(something)]="somethingOnParent"
  [(something2)]="something2OnParent"
  #child
></app-child>
<br><br>

<input type="text" [(ngModel)]="fieldValue">
<section>The field value is: {{ fieldValue }}</section>

<br><br>

<caption>A dog image fetched from the dog.ceo api in the api service:</caption>
<img [src]="dogUrl" alt="An image of a dog fetched from the dog.ceo api">
